{% load superadmin_utils %}

{% for sale in products_list %}
    <div class="col-12 mb-4" style="{% if not sale.available %}color: red; font-weight: bold;{% endif %}">
        Nombre: {{ sale.product.name }}<br>
        Nivel: {{ sale.product.level_book }} <br>
        Habilitado para su uso: {% if sale.available %}Si {% else %} No{% endif %}
        {% if request.user.is_authenticated %}
            <br>Gestionar: <a href="{% site_url sale 'update' %}" target="_blank">Editar compra</a>
        {% endif %}
    </div>
{% endfor %}

