{% load superadmin_utils check_permission %}
{% sum_sales_products_queryset products_list as points %}
<div class="col-12 mb-6">
    <span style="font-weight: bold;">TOTAL PUNTOS EN {{ title|upper }}: {{ points }}</span>
</div>

{% regroup products_list|dictsort:'product.name'|dictsort:'product.category.name' by product.category.name as regroup_products %}
{% for group in regroup_products %}
    <h3>Clasificación {{ group.grouper }}:</h3>
    {% for sale in group.list %}
        <div class="col-12 mb-4">
            Nombre del Producto: {{ sale.product.name }}<br>
            Puntos obtenidos: {{ sale.product.points }} <br>
            Link a la compra: <a href="{% site_url sale 'detail' %}" target="_blank">Ver</a>
        </div>
    {% endfor %}
{% endfor %}





