

{% for sale in products_list %}
    <div class="col-12 mb-4">
        Nombre del Producto: {{ sale.product.name }}<br>
        Descripción: <a href="{% url 'site:producto_producto_detalle' sale.product.slug %}" target="_blank">Tarjeta</a> <br>
        Categoría: {{ sale.product.category.name }} <br>
        Precio pagado: {{ sale.product.cost }} G<br>
        Puntos obtenidos: {{ sale.product.points }} <br>
        Fecha de compra: {{ sale.date|date:"d.m.Y" }}
        {% if request.user.is_authenticated %}
            <br>Gestionar: <a href="{{ sale.update_url }}" target="_blank">Editar compra</a>
        {% endif %}
    </div>
{% endfor %}

