[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
black = "==22.3.0"
isort = "==5.10.1"
flake8 = "==4.0.1"

[packages]
django = "==3.2.13"
django-select2 = "*"
django-superadmin = "==1.2.6"
django-tracing = "==1.0.6"
django-ckeditor = "*"
environs = "*"
psycopg2 = "==2.9.3"
pillow = "*"
django-import-export = "*"
django-extensions = "*"
django-mathfilters = "*"
requests = "*"
djangorestframework = "*"
django-fsm = "*"
django-filter = "*"
pydantic =  "*"
dataclasses = "*"

[requires]
python_version = "3.7"
