django==4.2.13
django-select2
django-superadmin==1.2.6
django-tracing==1.0.6
django-ckeditor
environs
psycopg2==2.9.10
pillow
django-import-export
django-extensions
django-mathfilters
requests
djangorestframework
django-fsm
django-filter
pydantic 
gunicorn
django-redis
newrelic==10.11.0
