{% load static %}

<style>
    .product_image:hover {
        filter: grayscale(0) !important;
    }

    #checkout_counter {
        width: 15px;
        height: 15px;
        font-weight: bold !important;
        margin-top: -20px;
    }
</style>
<!--begin::Fonts-->
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>        <!--end::Fonts-->

<!--begin::Page Vendors Styles(used by this page)-->
<!--end::Page Vendors Styles-->


<!--begin::Global Theme Styles(used by all pages)-->
<link href="{% static 'vendors/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/elements/statebar.css' %}" rel="stylesheet" type="text/css"/>
<!--end::Global Theme Styles-->

<!--begin::Layout Themes(used by all pages)-->
<link href="{% static 'assets/css/layout/header/base/blue.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/layout/header/menu/blue.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/layout/brand/dark.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/layout/aside/dark.css' %}" rel="stylesheet" type="text/css"/>
<!--end::Layout Themes-->

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css"/>

<link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}"/>
