{% load static %}
<!-- begin::User Panel-->
<div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
    <!--begin::Header-->
    <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
        <h3 class="font-weight-bold m-0">
            Perfil de Usuario
            <small class="text-muted font-size-sm ml-2"></small>
        </h3>
        <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
            <i class="ki ki-close icon-xs text-muted"></i>
        </a>
    </div>
    <!--end::Header-->

    <!--begin::Content-->
    <div class="offcanvas-content pr-5 mr-n5">
        <!--begin::Header-->
        <div class="d-flex align-items-center mt-5">
            <div class="symbol symbol-100 mr-5">
                {% if user.profile.avatar %}
                    <div class="symbol-label" style="background-image:url('{{ user.profile.avatar.url }}')"></div>
                {% else %}
                    <div class="symbol-label"
                         style="background-image:url('{% static 'assets/img/users/default-user.png' %}')"></div>
                {% endif %}
                <i class="symbol-badge bg-success"></i>
            </div>
            <div class="d-flex flex-column">
                <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">
                    {{ request.user }}
                </a>
                <div class="navi mt-2">
                    <a href="/logout/" class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5">Salir</a>
                </div>
            </div>
        </div>
        <!--end::Header-->

        <!--begin::Separator-->
        <div class="separator separator-dashed mt-8 mb-5"></div>
        <!--end::Separator-->
        {% comment %}
            {% include 'base/sections/panel_navigation.html' %}
            {% include 'base/sections/notifications.html' %}
        {% endcomment %}

    </div>
    <!--end::Content-->
</div>
<!-- end::User Panel-->