{% extends "base/base_detail.html" %}
{% load static %}

{% block detail %}
  {{ block.super }}
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Trabajo</th>
        <th scope="col">Mes a Pagar</th>
        <th scope="col">Bóveda</th>
        <th scope="col">Posteos del Mes</th>
        <th scope="col">Escalafón</th>
        <th scope="col">Valor a Pagar</th>
        <th scope="col">Acciones/Información</th>
      </tr>
      </thead>
      <tbody>
      {% for line in object.lines.all %}
        <tr>
          <th scope="row">{{ line.work.wizard }}</th>
          <td>{{ line.work.work }}</td>
          <td>{{ line.month }}</td>
          <td>{{ line.work.wizard.vault_number }}</td>
          <td>{{ line.number_of_posts }}</td>
          <td>{{ line.work.wizard.salary_scale }}</td>
          <td>{{ line.calculated_value }} G.</td>
          <td>
            {% if line.state == 3 and line.calculated_value > 0 %}
              <a href="{{ line.paid_url }}" target="_blank"
                 class="btn btn-light-success font-weight-bolder mr-2">
                <i class="fas fa-pen icon-sm"></i>Ver Pago
              </a>
            {% elif line.state == 4 %}
              <button disabled
                 class="btn btn-light-danger font-weight-bolder mr-2">
                <i class="fas fa-skull-crossbones"></i>Sin pago
              </button>
            {% else %}
              {% for transition in line.get_available_state_transitions %}
                {% if transition.name == "to_pay" %}
                  <button data-url="{% url 'payments:create_cmi_payment' line.pk %}"
                          class="btn btn-light-primary font-weight-bolder mr-2 payment-line" data-pk="{{ line.pk }}"
                          data-transition="{{ transition.name }}">
                    <i class="{{ transition.custom.icon }}"></i>{{ transition.custom.verbose }}
                  </button>
                {% endif %}
              {% endfor %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="id_work_description" class="form-label">Post para el Foro</label>
      <textarea name="" cols="40" rows="10" class="form-control"
                id="">
                <h1 style="text-align: center;">Pagos de {{ object }}</h1>
                <ul>
        {% for line in object.lines_for_html %}
          <li>
          {{ line.work.wizard.nick }} | Bóveda <a
          href="https://harrylatino.org/index.php?showtopic={{ line.work.wizard.vault_number }}">#
          {{ line.work.wizard.vault_number }}</a>
          | {{ line.number_of_posts }} posts | {{ line.work.wizard.salary_scale }}{% if line.paid %}
          | <a
          href="{{ line.paid_url }}" target="_blank">Pago Realizado</a>
        {% endif %}
          </li>
        {% endfor %}
        </ul>
            </textarea>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'assets/js/apps/cmi.js' %}"></script>
{% endblock %}
