{% extends "base/base_detail.html" %}

{% block detail %}
    {{ block.super }}
    {{ object.total_payments }}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Leyenda</th>
            <th scope="col">Link</th>
        </tr>
        </thead>

        <tbody>
        {% for line in object.lines.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ line.amount|floatformat:"2" }}</td>
                <td>{{ line.verbose }}</td>
                <td>{{ line.link|default_if_none:"--" }}</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>
{% endblock %}