{% extends "base/base_detail.html" %}

{% block detail %}
    {{ block.super }}
    {{ object.total_payments }}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Leyenda</th>
            <th scope="col">Link</th>
        </tr>
        </thead>

        <tbody>
        {% for line in object.get_lines %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ line.amount|floatformat:"0" }}</td>
                <td>{{ line.verbose }}</td>
                <td>{{ line.link|default_if_none:"--" }}</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>
    {% if object.payment_type == 1 %}
        <textarea name="" id="" cols="30" rows="10">
            <strong>Nick:</strong> {{ object.wizard }} <br><br>
            {% for line in object.get_lines %}
                <p>
                <strong>Concepto:</strong> {{ line.verbose }} <br>
                <strong>Cantidad:</strong> {{ line.amount|floatformat:"0" }}
                </p>
            {% endfor %}
        </textarea>
    {% endif %}

{% endblock %}