{% extends "base/base_detail.html" %}
{% load static superadmin_utils %}
{% block detail %}
  <div class="row" style="justify-content: center;">
    <div class="col-sm-12 col-md-6">
      <div class="card p-3 m-2 col">
        <div class="row no-gutters align-items-center">
          <div class="col-md-6">
            <img
                class="card-img img-fluid"
                src="{{ sale.product.get_image }}"
                alt="{{ sale.product.name }}"
                style="width: 240px; {% if sale.product.category.name == "CS" and not sale.available %} filter: grayscale(1);{% endif %}"
            >
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h4 class="card-title">{{ sale.product.name }} <a target="_blank"
                                                                href="{% site_url sale.product "detail" %}">+</a></h4>
              <p class="card-text"><strong>Sección: </strong>{{ sale.product.category.section }}</p>
              <p class="card-text"><strong>Categoría: </strong>{{ sale.product.category.show_name }}</p>
              <p class="card-text"><strong>Puntos: </strong>{{ sale.product.points }}</p>
              <p class="card-text"><strong>Precio: </strong>{{ sale.product.cost }}</p>
              <p class="card-text"><strong>Referencia: </strong>{{ sale.product.reference }}</p>
              <p class="card-text"><strong>Stock Inicial: </strong>{{ sale.product.initial_stock }}</p>
              <p class="card-text"><strong>Ventas: </strong>{{ sale.product.number_of_sales }}</p>
              <p class="card-text"><strong>Stock Final: </strong>{{ sale.product.check_stock }}</p>
              {% if sale.object.category.name == "LH" %}
                <p class="card-text"><strong>Nivel del Libro: </strong>{{ sale.object.level_book }}</p>
              {% endif %}
              {% if sale.product.category.name == "CS" and not sale.available %}
                <p class="card-text" style="color: darkred;"><strong>CONSUMIBLE UTILIZADO</strong></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="card col p-3 m-2" style="max-height: 500px; overflow-y:scroll;">
        <div class="card-body">
          <p class="card-text text-justify">{{ sale.product.description|safe }}</p>
          {% if sale.state == 2 %}
            <p class="mt-5">
              {% if sale.payment %}
                {% if perms.payments.view_payment %}
                    <a class="btn btn-primary" type="button"
                    href="{% site_url sale.payment 'detail' %}">
                    Ver Pago
                    </a>
                {% else %}
                    <a class="btn btn-primary" type="button"
                    href="{{sale.payment.url}}">
                    Ver Pago
                    </a>
                {% endif %}
              {% else %}
                <span style="font-weight: bold;">Pago realizado sin utilizar el sistema de Pagos Automáticos</span>
              {% endif %}
            </p>
          {% endif %}
        </div>
      </div>
      {% if request.user.is_authenticated and sale.product.category.name == "CS" and sale.available %}
        <div class="w-100">
          <a href="#"
             type="button"
             class="btn btn-light-primary font-weight-bolder mr-2 mb-2 form-instance-insoles"
             data-url="{% url 'sales_sale_consumable_form' object.pk %}"
          >
            <i class="fa fa-tag"></i> Marcar como utilizado
          </a>
        </div>
      {% endif %}
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card p3 m-2 col">
        <div class="card-body table-responsive">
          <table class="table mb-0">
            <thead>
            <tr>
              <th>Fecha</th>
              <th>Comprador</th>
              <th>Vendedor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ sale.date }}</td>
              <td>{{ sale.profile }}</td>
              <td>{{ sale.buyer }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if sale.product.category.name == "CS" and not sale.available %}
    <div class="row" style="justify-content: center;">
      <div class="col-12">
        <b>Link de uso: </b> <a href="{{ sale.consumable_url }}" target="_blank">Ver en el Foro</a> <br>
        <b>Comentario de uso: </b> <br>
        <p>{{ sale.consumable_comment }}</p>
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url "product:product_list" %}">Productos</a></li>
  <li class="breadcrumb-item active">{{ sale.object.name }}</li>
{% endblock %}

{% block modals %}
  {{ block.super }}
  {% include "insoles/modal.html" %}
{% endblock %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'vendors/formset/jquery.formset.js' %}"></script>
  <script src="{% static 'vendors/formset/formsets.init.js' %}"></script>
  <script src="{% static 'assets/js/forms/inputmask.js' %}"></script>
  <script src="{% static 'assets/js/apps/insoles_form.js' %}"></script>
  <script>
    const select2create = function (btn) {
      toastr.error('Los sentimos no tienes los permisos para realizar esta acción.', 'No autorizado');
    }
  </script>
{% endblock %}
