{% load workflows %}

{% if object.get_visible_states %}
    {% if object.get_current_state in object.get_visible_states %}
        <div
            class="statebar no-gutters"
            style="{% if state_bar == 'hidden' %}display: none;{% endif %}"
        >
            <div class="statebar-content">
                <div class="d-flex flex-column-auto flex-column px-10">
                    <!--begin: statebar Nav-->
                    <div
                        class="statebar-nav d-flex flex-column align-items-center align-items-md-start"
                    >
                        <!--begin::statebar Steps-->
                        <div
                            class="statebar-steps d-flex flex-column flex-md-row"
                        >
                            {% for state in object.get_visible_states %}
                                <div
                                    class="statebar-step flex-grow-1 flex-basis-0"
                                    data-statebar-type="step"
                                    data-state="{% if state.value < object.state %}done{% elif state.value == object.state %}current{% else %}next{% endif %}"
                                >
                                    <div class="statebar-wrapper pr-lg-7 pr-5">
                                        <div
                                            class="statebar-icon"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            data-theme="dark"
                                            title="{{ state.label }}"
                                            style="{% if state.background %}
                                                background-color:
                                                {{ state.background }};
                                            {% endif %}"
                                        >
                                            <i
                                                class="statebar-check{% if state.icon %}
                                                    {{ state.icon }}
                                                {% else %}
                                                    ki ki-check
                                                {% endif %}"
                                                style="{% if state.color %}
                                                    color: {{ state.color }}
                                                    !important;
                                                {% endif %}"
                                            ></i>
                                            <span class="statebar-number">
                                                {{ state.value }}
                                            </span>
                                        </div>
                                        <div class="statebar-label mr-3">
                                            <h3 class="statebar-title">
                                                {% workflow_visible_states state.value as avilable_states %}
                                                {% if object.state in avilable_states %}
                                                    {{ state.label }}
                                                {% endif %}
                                            </h3>
                                        </div>
                                        {% if not forloop.last %}
                                            <span class="svg-icon">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    width="24px"
                                                    height="24px"
                                                    viewBox="0 0 24 24"
                                                    version="1.1"
                                                >
                                                    <g
                                                        stroke="none"
                                                        stroke-width="1"
                                                        fill="none"
                                                        fill-rule="evenodd"
                                                    >
                                                        <polygon
                                                            points="0 0 24 0 24 24 0 24"
                                                        ></polygon>
                                                        <path
                                                            d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z"
                                                            fill="#000000"
                                                            fill-rule="nonzero"
                                                            transform="translate(12.000003, 11.999999) rotate(-270.000000) translate(-12.000003, -11.999999) "
                                                        ></path>
                                                    </g>
                                                </svg>
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--end::statebar Steps-->
                    </div>
                    <!--end: statebar Nav-->
                </div>
            </div>
        </div>
    {% else %}
        <div class="statebar text-center text-light no-gutters bg-danger">
            <h1 class="my-0 py-5">
                <i class="far fa-times-circle text-light icon-xl"></i>
                {{ object.get_current_state.label|upper }}
            </h1>
        </div>
    {% endif %}
    <form
        id="stateForm"
        action="{% url 'workflow_change_state' site.app_name site.model_name object.pk %}"
        enctype="multipart/form-data"
    >
        {% csrf_token %}
        <input type="hidden" name="transition" />
    </form>
{% endif %}
