{% load superadmin_forms %}

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
    </div>
    {{ field|add_class:"input-mask"|data:"inputmask:'alias': 'datetime'"|data:"inputmask-inputformat:dd/mm/yyyy" }}
</div>
<div class="invalid-feedback">
    <ul>
        {% for error in  field.errors %}
        <li>{{ error }}</li>
        {% empty %}
        <li>El campo {{ field.label|lower }} es obligatorio.</li>
        {% endfor %}
    </ul>
</div>
