{% extends "base/base_detail.html" %}
{% load static %}

{% block detail %}
    {{ block.super }}
    <button type="button" id="id_create_form" data-url="{{ object.get_url }}"
            class="btn btn-primary" data-toggle="modal" data-target="#insoles-forms">
        {{ object.message }}
    </button>
{% endblock %}

{% block modals %}
    {% if object.show_modal %}
        {% with object.path as path %}
            {% include "dynamicforms/actions/"|add:path|add:".html" %}
        {% endwith %}
    {% endif %}
{% endblock %}


{% block js %}
    {{ block.super }}
    <script src='/static/assets/js/apps/actions/{{ object.path }}.js'></script>
{% endblock %}
