{% extends 'base/base_list.html' %}
{% load static %}

{% block title %}
    Lista de Productos || {{ block.super }}
{% endblock %}

{% block list %}
    <div class="row mb-3">
        <div class="col-sm-12">
            <div class="card bg-light text-dark" style="height:100%;">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="align-center">Búsquedas por stock</h3>

                            <form action="">
                                <div class="mb-3 row">
                                    <label for="to_stock" class="col-form-label">Desde</label>
                                    <input type="number" class="form-control" id="to_stock" name="to_stock"
                                           value="{{ to_stock }}">
                                </div>
                                <div class="mb-3 row">
                                    <label for="from_stock" class="col-form-label">Hasta</label>
                                    <input type="number" class="form-control" id="from_stock" name="from_stock"
                                           value="{{ from_stock }}">
                                </div>
                                <div class="mb-3 row">
                                    <button type="submit" class="btn btn-success">Buscar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        {% include "products/components/sections.html" %}
    </div>
    {% include 'products/components/products.html' %}
{% endblock %}

{% block empty_list %}
    <div class="d-flex mt-2 mb-7">
        <div class="table-search flex-grow-1 p-1">
            <form action="" id="search_form">
                <input id="name" type="search" class="form-control form-control"
                       placeholder="Buscar" name="name" value="{{ name_value }}">
                {% if search_name %}
                    <input id="{{ search_name }}" style="display: none;" type="text" class="form-control form-control"
                           placeholder="Buscar" name="{{ search_name }}" value="{{ search_value }}">
                {% endif %}
            </form>

        </div>
    </div>
    <div class="row mb-3">
        {% include "products/components/sections.html" %}
    </div>
    {{ block.super }}
{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/search_product_by_name.js' %}"></script>
    <script src="{% static 'assets/js/ecommerce/add_product.js' %}"></script>
    {{ block.super }}

    <script>
        init_checkout({{ request.user.purchase.pk }})
    </script>
{% endblock %}
