{% extends "base/base_detail.html" %} {% load static %} 

{% block detail %} 
{{ block.super }}

<div class="row" style="justify-content: center">
  <div class="col-sm-12">
    <div class="card p3 m-2 col">
      <div class="card-body table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Categoría</th>
              <th>Stock</th>
              <th>Stock a Aumentar</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in object.product_requests.all %}
            <tr>
              <td>{{ stock.product }}</td>
              <td>{{ stock.product.category }}</td>
              <td>{{ stock.current_stock }}</td>
              <td>{{ stock.requested_amount }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
