{% extends 'base/base_list.html' %}
{% load static %}

{% block list_add_btn %}
    <button
        href="{{ site.urls.create }}"
        class="btn btn-primary font-weight-bolder"
        id="id_create_form"
        data-url="/administracion/actualizar-topic-y-post/form"
        data-form-id="6"
        data-form-id-input="4"
    >
        <i class="fas fa-plus icon-sm"></i>
        Actualizar Topic o Post
    </button>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'assets/js/apps/management/update_data.js' %}"></script>
    <script type="text/javascript"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% include 'management/update_modal.html' with title='Cambiar iniciador' %}
{% endblock %}
