{% extends 'base/base_detail.html' %}
{% load static %}

{% block detail_toolbar %}
{% endblock %}

{% block detail_actions %}
    <a
        href="/administracion/actualizar-topic-y-post/?show_modal=true"
        class="btn btn-primary font-weight-bolder"
        id="id_create_form"
    >
        <i class="fas fa-plus icon-sm"></i>
        Actualizar
    </a>
{% endblock %}

{% block detail %}
    {{ block.super }}
    <h3>Cambios realizados</h3>
    {% if changes %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead style="text-align: center;">
                    <tr>
                        <th scope="col">Campo</th>
                        <th scope="col">Valor Original</th>
                        <th scope="col">Nuevo Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field, values in changes.items %}
                        <tr>
                            <th scope="row">{{ field }}</th>
                            <td>{{ values.original_data|default:"--" }}</td>
                            <td>{{ values.new_data }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No se han realizado cambios en el perfil.</p>
    {% endif %}
{% endblock %}
