{% load mathfilters %}

{% for obj in products_list %}
    {% if obj.sales > 1 %}
        <div class="col-12 mb-4">
            {{ name }}: {{ obj.product }} ({{ obj.sales }})<br>
            Clasificación: {{ obj.product.category.name }} <br>
            Puntos de poder: {{ obj.product.points }} x {{ obj.sales }}
            = {{ obj.product.points|mul:obj.sales }}
        </div>
    {% else %}
        <div class="col-12 mb-4">
            {{ name }}: {{ obj.product }}<br>
            Clasificación: {{ obj.product.category.name }} <br>
            Puntos de poder: {{ obj.product.points }}
        </div>
    {% endif %}

{% endfor %}



