<div class="row">
    <div class="col-12">
        <nav aria-label="..." style="justify-content: center; align-content: center; display: flex;">
            <ul class="pagination">
                {% if page_obj.number|add:'-9' > 1 %}
                    <li class="page-item"><a href="?page=1{{ search_url }}" class="page-link">Inicio</a>
                    </li>
                {% endif %}
                <li class="page-item {% if not page_obj.has_previous %}disabled {% endif %}">
                    <a class="page-link" href="?page={% if page_obj.has_previous %}{{page_obj.previous_page_number}}{{ search_url }} {% else %} # {% endif %}" tabindex="-1">Anterior</a>
                </li>
                {% if page_obj.number|add:'-9' > 1 %}
                    <li class="page-item"><a href="?page={{ page_obj.number|add:'-10' }}{{ search_url }}" class="page-link">&hellip;</a>
                    </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <span class="page-link ">{{ i }} <span class="sr-only">(current)</span></span>
                        </li>
                    {% elif i > page_obj.number|add:'-10' and i < page_obj.number|add:'10' %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ i }}{{ search_url }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.paginator.num_pages > page_obj.number|add:'9' %}
                    <li class="page-item"><a href="?page={{ page_obj.number|add:'10' }}{{ search_url }}" class="page-link">&hellip;</a>
                    </li>
                {% endif %}
                <li class="page-item {% if not page_obj.has_next %}disabled {% endif %}">
                    <a class="page-link" href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{{ search_url }}{% else %}# {% endif %}">Siguiente</a>
                </li>
                {% if page_obj.paginator.num_pages > page_obj.number|add:'9' %}
                    <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}{{ search_url }}" class="page-link">Final</a>
                    </li>
                {% endif %}
            </ul>
        </nav>


    </div>
</div>
