{% extends 'authentication/base.html' %}
{% block form %}
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h6 class="mb-4">Contraseña cambiada</h6>
                        <p>Su contraseña fue cambiada correctamente</p>
                        <p><a href="/login/">Iniciar Sesión</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block form_text %}

{% endblock %}