{% extends "authentication/base.html" %}
{% block form %}
    {% if validlink %}
        <div class="login-signin">
            <div class="mb-20">
                <h3>Cambiar Contraseña</h3>
                <div class="text-muted font-weight-bold">Ingrese la misma contraseña en ambos campos</div>
            </div>
            <form class="form" method="POST">
                {% csrf_token %}
                {{ form.errors }}

                <div class="form-group mb-5">
                    <input class="form-control h-auto form-control-solid py-4 px-8" type="password"
                           placeholder="Contraseña" name="new_password1"/>
                </div>
                <div class="form-group mb-5">
                    <input class="form-control h-auto form-control-solid py-4 px-8" type="password"
                           placeholder="Repetir contraseña" name="new_password2"/>
                </div>
                <button type="submit"
                        class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Guardar Contraseña
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}
<div class="form-container outer">
    <div class="form-form">
        <div class="form-form-wrap">
            <div class="form-container">
                <div class="form-content">
                    <h1 class="">Cambiar Contraseña</h1>
                    <form class="text-left" method="post">
                        <div class="form">
                            {% csrf_token %}
                            {{ form.errors }}
                            <div id="username-field" class="field-wrapper input">
                                <label for="new_password1">INGRESA CONTRASEÑA</label>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                                <input id="id_new_password1" name="new_password1" type="password" class="form-control"
                                       placeholder="Ingrese su contraseña...">
                            </div>

                            <div id="password-field" class="field-wrapper input mb-2">
                                <div class="d-flex justify-content-between">
                                    <label for="id_new_password2">REPERTIR CONTRASEÑA</label>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-lock">
                                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                </svg>
                                <input id="id_new_password2" name="new_password2" type="password" class="form-control"
                                       placeholder="Repetir contraseña">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" id="toggle-password" class="feather feather-eye">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                            </div>
                            <div class="d-sm-flex justify-content-between">
                                <div class="field-wrapper">
                                    <button type="submit" class="btn btn-primary" value="">Guardar Contraseña
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
