{% load superadmin_utils checkout %}

{% if object_list %}
    <div class="row row-cards" style="margin: auto auto;align-items: center; justify-content: center;">
        {% for object in object_list %}
            <div class="card-group" id="{{ product.reference }}">
                <div class="card bg-light text-dark p-3 m-2">
                    <a href="{% site_url object 'detail' %}" class="mb-3">
                        <img
                                src="{{ object.get_image }}"
                                alt="{{ object.name }}"
                                class="rounded product_image"
                                style="{% if object.available_stock < 1 %} filter: grayscale(1);{% endif %}"
                        >
                    </a>
                    <div class="d-flex align-items-center px-2">
                        <div>
                            <div style="max-width: 230px;">{{ object.name }}</div>
                            <small class="d-block text-muted">Referencia: {{ object.reference }}</small>
                            <small class="d-block text-muted">Sección: {{ object.category.section }}</small>
                            <small class="d-block text-muted">Categoría: {{ object.category.name }}</small>
                            <small class="d-block text-muted" id="stock-{{ object.reference }}">Stock Disponible: {{ object.available_stock }}</small>
                            <small class="d-block text-muted">{% if object.user_has_product %}Tienes este producto {% else %} No tienes este producto {% endif %}</small>
                            {% if not object.can_be_sold %}
                                <small class="d-block text-muted" style="color: red !important; font-weight: bold;">EL
                                    PRODUCTO NO
                                    SE PUEDE VENDER</small>
                            {% else %}
                                {% if request.user.is_authenticated %}
                                    {% is_in_checkout request.user object as in_checkout %}
                                    {% if not in_checkout %}
                                        <a href="#" class="btn btn-primary mt-5 product-for-checkout"
                                           data-reference="{{ object.pk }}" data-type="add">Añadir al carrito</a>
                                    {% else %}
                                        <a href="#" id="" class="btn btn-danger mt-5 product-for-checkout"
                                           data-reference="{{ object.pk }}" data-type="delete"
                                           data-line="{{ in_checkout.pk }}">Quitar del carrito</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning">
        <h4>¡Lo sentimos!</h4>
        <p>Los criterios de búsqueda seleccionados no obtuvieron ningún resultado.
            Puede intentarlo de nuevo o resetear los filtros</p>
        <div class="btn-list">
            <a href="#" class="btn btn-info">
                <i class="bx bx-plus"></i> Reiniciar Búsqueda
            </a>
        </div>
    </div>
{% endif %}
