<ul>
    <li>
        Saldo Anterior: {{ old_galleons }} G
    </li>
    <li>
        {{ payment.get_encoded_reason }}: <span
            style="color: #e74c3c; font-weight: bold">-{{ payment.get_int_total_payments }} G</span>
        <ul>
            {% for line in payment.lines.all %}

                <li>
                    {% if line.link %}
                        <a href="{{ line.get_shorturl }}" target="_blank">{{ line.get_encoded_verbose }}</a>:
                        <span style="color: #e74c3c; font-weight: bold">-{{ line.get_integer_amount }} G</span>
                    {% else %}
                        {{ line.get_encoded_verbose }}:
                        <span style="color: #e74c3c; font-weight: bold">{{ line.get_integer_amount }} G</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        Saldo: {{ new_galleons }} G
    </li>
</ul>