{% extends 'base/base_detail.html' %}

{% block content %}
    <div class="col">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title"></h4>
                <p class="card-title-desc">
                    {{ object.content|safe }}
                </p>
                <hr>
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link active" data-toggle="tab" href="#indice" role="tab" aria-selected="true">
                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                            <span class="d-none d-sm-block">Índice de Bienes</span>
                        </a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" href="#objetos" role="tab" aria-selected="false">
                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                            <span class="d-none d-sm-block">Objetos</span>
                        </a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" href="#pociones" role="tab" aria-selected="false">
                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                            <span class="d-none d-sm-block">Pociones</span>
                        </a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" href="#criaturas" role="tab" aria-selected="false">
                            <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                            <span class="d-none d-sm-block">Criaturas</span>
                        </a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" href="#books" role="tab" aria-selected="false">
                            <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                            <span class="d-none d-sm-block">Libros de Hechizos</span>
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-3 text-muted">
                    <div class="tab-pane active" id="indice" role="tabpanel">
                        <h3 class="text-center"><strong>ÍNDICE DE BIENES</strong></h3>
                        <hr>
                        <h5><strong>Objetos Mágicos</strong></h5>
                        <div class="row mb-0">
                            {% include "boxrooms/components/normal_products_index.html" with products_list=object.get_objects_index name="Objeto"%}
                        </div>
                        <h5><strong>Pociones Mágicas</strong></h5>
                        <div class="row mb-0">
                            {% include "boxrooms/components/normal_products_index.html" with products_list=object.get_potions_index name="Poción"%}
                        </div>
                        <h5><strong>Criaturas Mágicas</strong></h5>
                        <div class="row mb-0">
                            {% include "boxrooms/components/normal_products_index.html" with products_list=object.get_creatures_index name="Criatura" %}
                        </div>
                        <h5><strong>Libros de Hechizos</strong></h5>
                        <div class="row mb-0">
                            {% include "boxrooms/components/books_index.html" with products_list=object.get_books_index %}
                        </div>
                    </div>
                    <div class="tab-pane" id="objetos" role="tabpanel">
                        <div class="row mb-0">
                            {% include "boxrooms/components/normal_products_detail.html" with products_list=object.get_objects_list %}
                        </div>
                    </div>
                    <div class="tab-pane" id="pociones" role="tabpanel">
                        <div class="row mb-0">
                            {% include "boxrooms/components/normal_products_detail.html" with products_list=object.get_potions_list %}
                        </div>
                    </div>
                    <div class="tab-pane" id="criaturas" role="tabpanel">
                        <div class="row mb-0">
                            {% include "boxrooms/components/normal_products_detail.html" with products_list=object.get_creatures_index %}
                        </div>
                    </div>
                    <div class="tab-pane" id="books" role="tabpanel">
                        <div class="row mb-0">
                            {% include "boxrooms/components/books_detail.html" with products_list=object.get_books_index %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}